@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-md: 750px;
  --breakpoint-lg: 990px;

  --spacing: 4px;

  --color-black: #121212;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-5xl--line-height: 1;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
}

@layer base {
}

@layer components {
  .tw-badge {
    @apply inline-block px-2 py-1 rounded-sm text-white text-xs font-semibold;
  }
  .tw-badge--sale {
    @apply bg-[#dc143c];
  }
  .tw-badge--soldout {
    @apply bg-gray-500;
  }
  .option {
    @apply flex gap-2 items-center mb-5;
  }
  .option-btn {
    @apply rounded-sm border border-transparent overflow-hidden text-black hover:border-black focus:border-black cursor-pointer transition;
  }
  .color-button {
    @apply w-[88px] h-[88px] p-0 bg-gray-100;
  }
  .option-btn.active {
    @apply border-black;
  }
  .color-button img {
    @apply w-full h-auto object-cover aspect-square;
  }
  .tw-btn {
    @apply px-4 py-2 rounded-lg border border-black bg-black text-sm text-white w-full min-h-11 hover:shadow-sm/90 transition;
  }
}
