@import "tailwindcss" prefix(tw);

@theme {
  --breakpoint-*: initial;
  --breakpoint-md: 750px;
  --breakpoint-lg: 990px;

  --spacing: 4px;

  --color-black: #121212;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-5xl--line-height: 1;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
}

@layer base {
}

@layer components {
  .tw-badge {
    @apply tw:inline-block tw:px-2 tw:py-1 tw:rounded-sm tw:text-white tw:text-xs tw:font-semibold;
  }
  .tw-badge--sale {
    @apply tw:bg-[#dc143c];
  }
  .tw-badge--soldout {
    @apply tw:bg-gray-500;
  }
  .option {
    @apply tw:flex tw:gap-2 tw:items-center tw:mb-5;
  }
  .option-btn {
    @apply tw:rounded-sm tw:border tw:border-transparent tw:overflow-hidden tw:text-black tw:hover:border-black tw:focus:border-black tw:cursor-pointer tw:transition;
  }
  .color-button {
    @apply tw:w-22 tw:h-22 tw:p-0 tw:bg-gray-100;
  }
  .option-btn.active {
    @apply tw:border-black;
  }
  .color-button img {
    @apply tw:w-full tw:h-auto tw:object-cover tw:aspect-square;
  }
  .tw-btn {
    @apply tw:px-4 tw:py-2 tw:rounded-lg tw:border tw:border-black tw:bg-black tw:text-sm tw:text-white tw:w-full tw:min-h-11 tw:hover:shadow-sm/90 tw:transition;
  }
}
