{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer>
  <div class="container">
    {% assign current_year = 'now' | date: '%Y' %}
    {% assign footer_menu = linklists.footer %}
    {% assign policies_menu = linklists.policies-menu %}
    <div class="footer-grid">
      {%  render 'logo', class: 'footer-logo' %}
      {% if footer_menu.links.size > 0 %}
        {% render 'footer-nav', navigation: footer_menu %}  
      {% endif %}
    </div>
    <div class="footer-copyright">
        <div class="copyright-content">{{ 'sections.footer.copyright_text' | t: year: current_year, shop_name: shop.name }}</div>        
        {% if policies_menu.links.size > 0 %}
        <ul class="policies-list">
          {%- for link in policies_menu.links -%}
            <li><a href="{{ link.url }}" class="footer-link">{{ link.title }}</a></li>
          {%- endfor -%}
        </ul>
        {% endif %}
      </div>
  </div>
</footer>