@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --text-primary: #111111;
  --text-secondary: #737373;
  --border-color: #ebebeb;
  --background-light: #f5f5f5;
  --color-white: #ffffff;
}
/*CSS reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-primary);
}
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
button {
  cursor: pointer;
  color: var(--text-primary);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container.small {
  max-width: 872px;
  /*padding: 0;*/
}

@media (min-width: 1024px) {
  .container {
    max-width: 1320px;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

/*Utility classes*/
h1,
.h1 {
  font-size: 1.9rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 1.5rem;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 3rem;
    line-height: 1;
  }
  h2,
  .h2 {
    font-size: 1.75rem;
    line-height: 1.2;
  }
}

.text-large {
  font-size: 1rem;
}
.text-medium {
  font-size: 0.9rem;
}
.text-secondary {
  color: var(--text-secondary);
}

.btn {
  padding: 1rem 2rem;
  height: 56px;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease;
}
.btn-black {
  background-color: var(--text-primary);
  color: var(--color-white);
}
.btn-black:hover {
  background-color: var(--text-secondary);
}
.btn-light {
  background-color: var(--color-white);
  color: var(--text-primary);
}
.btn-light:hover {
  background-color: #cacacb;
}

.placeholder-svg-class {
  background-color: var(--background-light);
}

main {
  margin-top: 5rem;
  min-height: 90vh;
}

/*Navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  transition: transform 0.3s ease;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}
header.hidden {
  transform: translateY(-100%);
}
.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav > .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav .nav-logo {
  display: none;
}

.nav .nav-cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-toggler {
  background-color: transparent;
  border: 1px solid transparent;
}

.nav .nav-list {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in, max-height 0.3s ease-in;
}

.nav.show .nav-list {
  /*display: none;*/
  margin-top: 1.5rem;
  opacity: 1;
  overflow: visible;
}

.nav .nav-list .nav-link {
  position: relative;
  width: 100%;
}

.nav .nav-list .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--text-primary);
  transition: 0.3s;
}
.nav .nav-list .nav-link.active:before,
.nav .nav-list .nav-link:hover:before {
  width: 100%;
}
@media (min-width: 768px) {
  .nav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .nav .nav-logo {
    display: block;
  }
  .nav .nav-toggler {
    display: none;
  }
  .nav .nav-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: max-content;
    opacity: 1;
    overflow: visible;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}
/*Footer*/
#shopify-section-footer {
  margin-top: auto;
}
