.featured-products {
  padding: 40px 0;
}
.featured-products ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.featured-products__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-template-areas:
    "title title title title"
    "filter products products products";
}
.featured-products__title {
  text-align: center;
  margin-bottom: 20px;
  grid-area: title;
}
.featured-products__filter {
  grid-area: filter;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 8px;
}
.featured-products__grid {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.featured-product {
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
