.featured-products {
  padding: 40px 0;
}
.featured-products ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.featured-products__title {
  text-align: center;
  margin-bottom: 20px;
}
.featured-products__sort-by {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.featured-products__sort-by .collection-sort__select {
  font-family: var(--font-body-family);
  color: rgba(var(--color-foreground), 0.75);
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: 1.4rem;
  height: auto;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  margin: 0;
  padding-left: 0;
  padding-right: 1.75rem;
}
.featured-products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.featured-products .product-card {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.featured-products .product-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.featured-products .product-card__title {
  font-size: 1.6rem;
  margin: 10px 0;
}

.featured-products .product-card__image img {
  width: 100%;
  object-fit: cover;
}

.featured-products .product-card__link {
  text-decoration: none;
  color: inherit;
}
