.featured-products {
  padding: 40px 0;
}
.featured-products ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.featured-products__container {
  /* display: flex; */
}
.featured-products__title {
  text-align: center;
  margin-bottom: 20px;
}
.featured-products__sort-by {
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  margin-bottom: 20px;
}
.featured-products__sort-by .collection-sort__select {
  font-family: var(--font-body-family);
  color: rgba(var(--color-foreground), 0.75);
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: 1.4rem;
  height: auto;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  margin: 0;
  padding-left: 0;
  padding-right: 1.75rem;
}
.featured-products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.featured-product {
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
