/*Footer */
footer {
  padding-top: 3.75rem;
  padding-bottom: 1.5rem;
}

.footer-grid {
  margin-bottom: 3rem;
}

.footer-nav-list > li + li {
  margin-top: 0.75rem;
}

.footer-link,
.copyright-content {
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.footer-link:hover,
.footer-link.active {
  color: var(--text-primary);
}

.footer-copyright,
.policies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

footer .footer-logo {
  align-self: center;
}
footer .footer-logo .h2 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-nav-list {
    margin-top: 1rem;
    opacity: 1;
    max-height: none;
    height: auto;
  }
  .footer-copyright,
  .policies-list {
    flex-direction: row;
    gap: 2rem;
  }
}
